name: CI - Build & Push

on:
  workflow_run:
    workflows: ["Tests"]
    types:
      - completed
    branches: ["main"]

env:
  DOCKER_IMAGE: laranjeirajuliano/api-todolist-sndt

jobs:
  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.1

      - name: Docker Hub Login
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKERUSER }}
          password: ${{ secrets.DOCKERHUB_PWD }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v6.9.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:${{ github.run_number }}
            ${{ env.DOCKER_IMAGE }}:latest
